body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoiceWrapper {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 20px;
}

.invoiceCard {
  background: #ffffff;
  width: 100%;
  max-width: 600px;
  border-radius: 14px;
  padding: 24px;
  margin: 10px auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  font-family: system-ui, sans-serif;
  color: #111;
}

.invoiceHeader {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: flex-start;
}

.invoiceHeader h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.invoiceHeader p {
  margin: 0;
  color: #6b7280;
  font-size: 0.9rem;
}

.invoiceMeta {
  text-align: right;
}

.invoiceMeta span {
  font-weight: 600;
  color: #374151;
}

.invoiceMeta p {
  margin: 0;
  font-size: 0.7rem;
}

hr {
  margin: 18px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.section {
  margin-bottom: 16px;
}

.section h3 {
  margin-bottom: 0px;
  font-size: 1.05rem;
  font-weight: 600;
  color: #0b0d12;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 0.87rem;
  color: #0a2248;
}

.hr{
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 10px 0;
}

.total {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.status span:last-child {
  color: #059669;
  font-weight: 700;
}

.invoiceFooter {
  margin-top: 20px;
  text-align: center;
}

.invoiceFooter p {
  margin-bottom: 13px;
  font-size: 0.95rem;
  color: #374151;
}

.invoiceFooter button {
  background: #0b0d12;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}

.invoiceFooter button:hover {
  background: #111827;
}

.error {
  text-align: center;
  margin-top: 50px;
}
.error h2 {
  font-size: 1.5rem;
  color: #b91c1c;
}

@media print {
  .invoiceFooter button {
    display: none;
  }
}