.home {
  width: 100%;
  min-height: 100vh;
  background: none;
  color: #111827;
}

/* HERO */
.hero {
  width: 100vw;
  min-height: 100vh;

  background-image: url("../assets/car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.10);
}


.heroContent{
    max-width: 50%;
}

.heroTitle {
  flex-grow: inherit;
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.heroText {
  width: 100%;
  font-size: 0.85rem;
  color: #f3f4f6;
  margin: 0px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.gapSection {
  width: 100%;
  padding: 2rem 1rem;
  background: #f8fafc; 
  text-align: center;
}

.gapTitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 0.8rem;
}

.gapText {
  max-width: 620px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #475569;
  line-height: 1.4;
}

.gapTextItalic {
  font-style: italic;
}

/* Options section */
.optionsSection {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem 0.6rem;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionBox {
  width: 90%;
  max-width: 1200px;
  height: 80vh;    
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.renter,
.owner {
  flex: 1;
  background: rgba(255, 242, 242, 0.982); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.optionTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 300;
  color: #111827;
  margin-bottom: 0.5;
}

.optionImgRenter {
  width: 100%;
  height: 60%;
  background-image: url("../assets/renter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.optionImgOwner {
  width: 100%;
  height: 60%;
  background-image: url("../assets/owner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.discripion {
  font-size: 0.85rem;
  font-weight: 400;
  color: #374151;
  text-align: start;
}

/* Why Us Section */

.WhyUsSection{
  width: 100%;
  padding: 2rem 1rem;
  background: #f8fafc; 
  text-align: center;
}

.WhyUsTitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 0.8rem;
}

.WhyUsText {
  max-width: 620px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #475569;
  line-height: 1.4;
}

/* Scroll Container */

.scrollContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
  
}

.scrollContent {
  display: flex;
  align-items: center;
  gap: 4rem;
  animation: scrollLeft 15s linear infinite;
}

.item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item p {
  margin-top: 0.8rem;
  font-weight: 500;
  color: #111;
  font-size: 0.95rem;
}

/* Keyframes for smooth infinite movement */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
