.home {
  width: 100vw;
  min-height: 100vh;
  background: none;
  color: #111827;
}

/* HERO */
.hero {
  width: 100vw;
  height: 100vh;

  background-image: url("../assets/car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.10);
}

.heroContent{
    max-width: 50%;
}

.heroTitle {
  flex-grow: inherit;
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.heroText {
  width: 100%;
  font-size: 0.85rem;
  color: #f3f4f6;
  margin: 0px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Small Laptop */
@media 
  (min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .hero {
    background-position: 50% center;
    height: 70vh;
  }
  .heroContent {
    max-width: 60%;
  }
  .heroTitle{
    margin-bottom: 20px; 
    font-size: 5.6rem;
  }
  .heroText {
    font-size: 1.2rem;
  }
}

/* Tab responsiveness */
@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-position: 50% center;
    height: 70vh;
  }

  .heroContent {
    max-width: 60%;
  }

  .heroTitle{
    margin-bottom: 20px; 
    font-size: 6rem;
  }

  .heroText {
    font-size: 1.3rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px){

  .hero{
    background-position: 50% center;
    height: 80vh;
  }
  .heroContent {
    max-width: 80%;
  }

  .heroTitle {
    margin-bottom: 15px;
  }
}

/* Gap Section */
.gapSection {
  width: 100%;
  padding: 2rem 1rem;
  background: #f8fafc; 
  text-align: center;
}

.gapTitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 0.8rem;
}

.gapText {
  max-width: 620px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #475569;
  line-height: 1.4;
}

.gapTextItalic {
  font-style: italic;
}

/* Options section */
.optionsSection {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 0.6rem;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionBox {
  width: 90%;
  max-width: 1200px;
  height: 80vh;    
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.renter,
.owner {
  flex: 1;
  background: rgba(255, 242, 242, 0.982); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.optionTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 300;
  color: #111827;
  margin-bottom: 0.5;
  font-family: Barlow, sans-serif;
}

.optionImgRenter {
  width: 100%;
  height: 60%;
  background-image: url("../assets/renter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.optionImgOwner {
  width: 100%;
  height: 60%;
  background-image: url("../assets/owner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.discripion {
  font-size: 0.80rem;
  font-weight: 400;
  color: #374151;
  text-align: start;
}

/* Small Laptop */
@media 
  (min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .optionBox {
    flex-direction: column;
    width: 75%;
    padding-bottom: 10px;
    gap: 3rem;
  }
  .renter,
  .owner{
    justify-content: space-around;
    align-items: self-start;
    padding: 15px 25px;
  }

  .optionImgRenter,
  .optionImgOwner {
    height: 70%;
    background-position: center;
  }
  .optionTitle{
    font-size: 1.7rem;
  }
  .discripion {
    font-size: 1.1rem;
  }
} 

/* Tab responsiveness */
@media (min-width: 481px) and (max-width: 768px) {
  .optionBox {
    flex-direction: column;
    width: 75%;
  }

  .renter,
  .owner{
    justify-content: space-around;
    align-items: self-start;
    padding: 15px 25px;
  }

  .optionImgRenter,
  .optionImgOwner {
    height: 70%;
    background-position: center;
  }

  .optionTitle{
    font-size: 1.7rem;
  }

  .discripion {
    font-size: 1.1rem;
  }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  .optionBox {
    flex-direction: column;
  }

  .renter,
  .owner{
    align-items: self-start;
  }
}

/* How It Works */
.howItWorks {
  width: 100%;
  height: 100vh;
  padding: 1rem 1rem 2rem 1rem;
  background: #f8fafc;
  text-align: center;
}

.sectionTitle {
  position: relative;
  font-size: 1.7rem;
  font-weight: 600;
  color: #171717;
  font-family: Barlow, sans-serif;
}

.sectionSubtitle {
  max-width: 620px;
  position: relative;
  margin: 0.5rem auto 2rem;
  font-size: 0.8rem;
  color: #475569;
}

/* Flow wrapper layout */
.flowsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; 
  position: relative;
}

.flowCard {
  background: #fff;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 16px;
  width: 40%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.135);
}

/* Title wrapper and text */
.titleWrap {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: Barlow, sans-serif;
}

.flowTitle {
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #020617;
  padding: 0.3rem 0.6rem;
}

.titleSvg {
  position: absolute;
  top: 7px;
  left: 35px;
  width: 130%;
  height: 130%;
  transform: translate(-15%, -25%);
  z-index: 1;
  pointer-events: none;
}

.circlePath {
  fill: none;
  stroke: #CDFF65;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: drawCircle 1.6s ease forwards;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

/* Steps */
.stepsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step {
  text-align: center;
}

.step span {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e0f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.5rem;
  font-weight: 600;
  color: #0284c7;
}

.step p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #334155;
}

/* Connecting line */
.line {
  flex: 1;
  height: 2px;
  background: #e2e8f0;
  margin: 0 0.5rem;
  position: relative;
  top: -10px;
}

/* Small Laptop */
@media 
  (min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .howItWorks {
    height: auto;
    padding: 4rem 1rem;
  }
  .sectionTitle{
    font-size: 2.2rem; 
    top: 0;
    margin: 0.7rem;
  }

  .sectionSubtitle{
    margin-bottom: 4rem;
    font-size: 0.9rem;
  }

  .flowsContainer {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    top: 0px;
    position: relative;
    margin-bottom: 10px;
  }

  .flowCard {
    width: 50%;
    padding: 3rem 2.5rem;
    box-sizing: border-box;
    text-align: center;
  }
} 

/* Tab responsiveness */
@media (min-width: 481px) and (max-width: 768px){
  .howItWorks {
    height: auto;
    padding: 4rem 1rem;
  }
  .sectionTitle{
    font-size: 1.9rem; 
    top: 0;
    margin: 0.7rem;
  }

  .sectionSubtitle{
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }

  .flowsContainer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    top: 0px;
    position: relative;
  }

  .flowCard {
    width: 60%;
    padding: 2.5rem 2rem;
    box-sizing: border-box;
    text-align: center;
  }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  .howItWorks {
    height: auto;
    padding: 3rem 1rem;
  }

  .sectionTitle {
    font-size: 1.6rem; 
    text-align: center;
    position: relative;
    top: 0;
    margin-bottom: 0.5rem;
  }
  
  .titleSvg{
    top: 12px;
    left: 70px;
    width: 200%;
    height: 120%;
    transform: translate(-10%, -20%);
  }

  .sectionSubtitle {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    max-width: 85%;
    margin: 0 auto 2rem; 
    top: 0;
    position: relative;
  }

  .flowsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    top: 0;
    position: relative;
  }

  .flowCard {
    width: 90%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  }

  .flowCard img,
  .flowCard svg {
    width: 60%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }

  .flowCard button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

/* Highlight Strip */
.highlightStrip {
  width: 100%;
  padding: 1.3rem 1rem;
  background: #060a17;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlightContent {
  max-width: 900px;
  text-align: center;
}

.highlightContent h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #f8fafc;
  margin-bottom: 0.6rem;
  letter-spacing: 0.5px;
}

.highlightContent p {
  font-size: 0.85rem;
  color: #cbd5f5;
  line-height: 1.5;
}

.highlightStrip::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background: rgba(56, 189, 248, 0.15);
  filter: blur(120px);
}

/* Why Us Section */
.WhyUsSection {
  width: 100%;
  height: 100vh;
  padding: 1rem 2rem 2rem 2rem;
  background: #f8fafc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WhyUsTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: #171717;
  font-family: Barlow, sans-serif;
  margin-bottom: 0.8rem;
}

.UnderlineWrap {
  position: relative;
  display: inline-block;
}

.UnderlineSvg {
  position: absolute;
  bottom: -8px;
  left: -10px;
  width: 115%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.UnderlinePath {
  fill: none;
  stroke: #CDFF65;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: drawUnderline 0.5s ease forwards;
}

@keyframes drawUnderline {
  to { stroke-dashoffset: 0; }
}

.WhyUsText {
  max-width: 620px;
  margin: 0.6rem auto 2rem;
  font-size: 0.85rem;
  color: #475569;
  line-height: 1.5;
}

/* Sample Car Preview */
.previewSection {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.7rem;
  flex-wrap: wrap;
}

.carCard {
  width: 210px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.carCard:hover { transform: translateY(-6px); }

.carCard img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.carCard h4 {
  margin: 0.6rem 0 0.2rem;
  font-size: 0.9rem;
  color: #171717ef;
}

.carCard span {
  display: block;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.scrollContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  background-color: #060a17;
}

.scrollContent {
  display: flex;
  align-items: center;
  gap: 4rem;
  animation: scrollLeft 15s linear infinite;
  position: relative;
  top: -6px;
}

.item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item p {
  margin-top: 0.8rem;
  font-weight: 500;
  color: rgb(237, 232, 220);
  font-size: 0.95rem;
}

/* Infinite smooth scroll */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} 

/* Small Laptop */
@media (min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .WhyUsSection {
    height: auto;
    padding: 3rem 1rem;
  }
  .WhyUsTitle {
    font-size: 2.2rem;
  }
  .WhyUsText{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
  }
  .previewSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    padding: 20px 0;
  }

  .carCard {
    width: 60%;
    height: auto;
  }

  .carCard img {
    height: 240px;  
  }
} 

/* Tab responsivness */
@media (min-width: 481px) and (max-width: 768px) {
  .WhyUsSection {
    height: auto;
    padding: 3rem 1rem;
  }
  .WhyUsText{
    font-size: 1rem;
    line-height: 1.6;
  }
  .previewSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px 0;
  }

  .carCard {
    width: 60%;
    height: auto;
  }

  .carCard img {
    height: 180px;  
  }
}

/* CTA Section */
.ctaSection {
  width: 100%;
  padding: 2.5rem 1rem;
  background: #ffffff;
  text-align: center;
}

.ctaTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #020617;
}

.ctaText {
  margin: 0.6rem auto 1.5rem;
  font-size: 0.85rem;
  color: #475569;
}

.ctaButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.primaryBtn {
  padding: 0.6rem 1.6rem;
  border-radius: 999px;
  border: none;
  background: #020617;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
}

.secondaryBtn {
  padding: 0.6rem 1.6rem;
  border-radius: 999px;
  border: 1px solid #020617;
  background: transparent;
  color: #020617;
  font-size: 0.8rem;
  cursor: pointer;
}

.primaryBtn:hover {
  opacity: 0.9;
}

.secondaryBtn:hover {
  background: #020617;
  color: #ffffff;
}

/* Small Laptop */
@media(min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .ctaSection {
    padding: 4rem 1rem;
  }

  .ctaTitle {
    font-size: 1.9rem;
  }

  .ctaText {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .primaryBtn,
  .secondaryBtn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
} 

/* Tab responsivness */
@media (min-width: 481px) and (max-width: 768px) {
  .ctaSection {
    padding: 3rem 1rem;
  }

  .ctaTitle {
    font-size: 1.7rem;
  }

  .ctaText {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .primaryBtn,
  .secondaryBtn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
}

/* Footer */
.footer {
  width: 100%;
  height: 100vh;
  background: #171717;
  padding: 3rem 1.5rem 1rem;
  color: #e5e7eb;
}

/* Top Layout */
.footerTop {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* Left Columns */
.footerLinks {
  display: flex;
  gap: 4rem;
  align-items: flex-start; 
}

.linkColumn h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #CDFF65;
}

.linkColumn ul {
  list-style: none;
  padding: 0;
}

.linkColumn li {
  font-family: Lato, sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #f8fafc;
  cursor: pointer;
  position: relative;    
  width: fit-content;   
}

.linkColumn li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 0.8px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.linkColumn li:hover::after {
  width: 100%;
}


/* Right Branding */
.footerBrand {
  max-width: 360px;
}

.brandLogo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #CDFF65;
  margin-bottom: 1.2rem;
}

.newsletterBox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Headline text */
.brandText {
  font-size: 0.85rem;
  font-weight: 500;
  color: #f8fafc;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-family: Barlow, sans-serif;
}

.newsletter {
  display: flex;
  align-items: center;
  background: #282525bc;
  padding: 0.3rem;
  max-width: 250px;
}

.newsletter input {
  flex: 1;
  padding: 0.6rem 0.7rem;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffffb9;
  font-size: 0.7rem;
  font-weight: 300;
}

.newsletter button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #CDFF65;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 600;
  color: #020617;

  transition: transform 0.2s ease;
}

.newsletter button:hover {
  transform: translateX(2px);
}

.footerBottom {
  position: relative;
  top: 80px;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #1e293b;
  font-size: 0.75rem;
  color: #94a3b8;
  text-align: left;
}

/* Footer */
.footer {
  width: 100%;
  min-height: auto; 
  background: #171717;
  padding: 3rem 1.5rem 1rem;
  color: #e5e7eb;
  box-sizing: border-box;
}

/* Top Layout */
.footerTop {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* Left Columns */
.footerLinks {
  display: flex;
  gap: 4rem;
  align-items: flex-start; 
}

.linkColumn h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #CDFF65;
}

.linkColumn ul {
  list-style: none;
  padding: 0;
}

.linkColumn li {
  font-family: Lato, sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #f8fafc;
  cursor: pointer;
  position: relative;    
  width: fit-content;   
}

.linkColumn li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 0.8px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.linkColumn li:hover::after {
  width: 100%;
}

.footerBrand {
  max-width: 360px;
}

.newsletterBox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.brandText {
  font-size: 0.85rem;
  font-weight: 500;
  color: #f8fafc;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-family: Barlow, sans-serif;
}

.newsletter {
  display: flex;
  align-items: center;
  background: #282525bc;
  padding: 0.3rem;
  max-width: 250px;
}

.newsletter input {
  flex: 1;
  padding: 0.6rem 0.7rem;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffffb9;
  font-size: 0.7rem;
  font-weight: 300;
}

.newsletter button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #CDFF65;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 600;
  color: #020617;

  transition: transform 0.2s ease;
}

.newsletter button:hover {
  transform: translateX(2px);
}

.footerBottom {
  position: relative;
  top: 70px; 
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #1e293b;
  font-size: 0.75rem;
  color: #94a3b8;
  text-align: center;
}

/* Small Laptop */
@media (min-width: 720px)  and (max-width: 1024px) and (pointer: coarse) and (hover: none) {
  .footer {
    padding: 2.5rem 1rem;
    height: auto; 
  }

  .footerTop {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .footerLinks {
    gap: 2.4rem;
  }

  .linkColumn h4 {
    font-size: 1.5rem;
  }

  .linkColumn li {
    font-size: 0.8rem;
  }

  .footerBrand {
    text-align: center;
  }

  .brandLogo {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .newsletter {
    max-width: 100%;
    justify-content: center;
  }

  .newsletter input {
    font-size: 0.8rem;
  }

  .footerBottom {
    top: 0;
    margin-top: 3rem;
    padding-top: 1.5rem;
    text-align: center;
  }
} 

/* Tab responsiveness */
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 2.5rem 1rem;
    height: auto; 
  }

  .footerTop {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .footerLinks {
    gap: 2rem;
  }

  .linkColumn h4 {
    font-size: 1rem;
  }

  .linkColumn li {
    font-size: 0.8rem;
  }

  .footerBrand {
    text-align: center;
  }

  .newsletter {
    max-width: 100%;
    justify-content: center;
  }

  .newsletter input {
    font-size: 0.8rem;
  }

  .footerBottom {
    top: 0;
    margin-top: 3rem;
    padding-top: 1.5rem;
    text-align: center;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .footer {
    padding: 2.5rem 1rem;
    height: auto; 
  }

  .footerTop {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .footerLinks {
    gap: 2rem;
  }

  .linkColumn h4 {
    font-size: 1rem;
  }

  .linkColumn li {
    font-size: 0.8rem;
  }

  .footerBrand {
    text-align: center;
  }

  .newsletter {
    max-width: 100%;
    justify-content: center;
  }

  .newsletter input {
    font-size: 0.8rem;
  }

  .footerBottom {
    top: 0;
    margin-top: 3rem;
    padding-top: 1.5rem;
    text-align: center;
  }
}
