.loginWrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.loginCard {
  background: #141414;
  padding: 2.1rem;
  width: 100%;
  max-width: 36%;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.title {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}

.subtitle {
  color: #aaaaaa;
  text-align: center;
  font-size: 0.50rem;
  margin-bottom: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input {
  background: #1f1f1f;
  border: none;
  outline: none;
  padding: 0.60rem 0.9rem;
  border-radius: 8px;
  color: #ffffff;
  font-size: 0.6rem;
}

.input::placeholder {
  color: #777;
}

.input:focus {
  border: 1px solid #f5c518;
}

.loginBtn {
  margin-top: 0.6rem;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  background: #f5c518;
  color: #000;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  background: #ffd84d;
  transform: translateY(-1px);
}

.footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.70rem;
  color: #aaa;
}

.footer a {
  color: #f5c518;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/* Big Screens */
@media (min-width: 1025px) {
  .loginCard {
    max-width: 36%;
    padding: 2.1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.52rem;
  }
}
/* Small Laptop / Touch devices */
@media 
  (min-width: 720px) and (max-width: 1024px) and (pointer: coarse) and (hover: none) {

  .loginWrapper {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100vh;
  }

  .loginCard {
    max-width: 60%;
    padding: 1.9rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 0.72rem;
    margin-bottom: 2rem;
  }

  .input {
    font-size: 0.72rem;
    padding: 0.65rem 0.9rem;
  }

  .loginBtn {
    font-size: 0.78rem;
    padding: 0.7rem;
  }
}

/* Tab responsiveness */
@media (min-width: 481px) and (max-width: 768px) {

  .loginWrapper {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100vh;
  }

  .loginCard {
    max-width: 60%;
    padding: 1.7rem;
  }

  .title {
    font-size: 1.55rem;
  }

  .subtitle {
    font-size: 0.7rem;
    max-width: 80%;
    margin: 0 auto 1.5rem auto;
  }

  .input {
    font-size: 0.75rem;
    padding: 0.65rem 0.9rem;
  }

  .loginBtn {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .footer {
    font-size: 0.7rem;
    margin-top: 1.2rem;
  }
}


/* Mobile responsiveness */
@media (max-width: 480px) {
  .loginWrapper {
    padding: 1rem;
  }

  .loginCard {
    max-width: 90%;
    height: auto;
    padding: 1.5rem;
    border-radius: 12px;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 0.65rem;
  }

  .input {
    font-size: 0.75rem;
    padding: 0.65rem 0.8rem;
  }

  .loginBtn {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .footer {
    font-size: 0.7rem;
  }
}
