.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;
  height: 40px;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
  border-radius: 40px;

  z-index: 1000;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  height: 24px;
  width: 24px;
}

.name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
}

.loginBtn {
  padding: px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  background: #111827;
  color: #ffffff;
  font-size: 11px;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  background: #000;
  transform: translateY(-1px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    width: 90%;
  }

  .name {
    font-size: 14px;
  }
}
