.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 50%;
  max-width: fit-content;
  padding: 0.4rem 1rem;
  height: 40px;

  background: #1a1a1a;
  backdrop-filter: blur(12px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.button {
  padding: 0.35rem 0.9rem;
  border-radius: 15px;
  background: #1a1a1a; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  color: #ccc;
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.active {
  background: #f5c518; 
  color: #000;
  border: none;
}


@media (min-width: 1025px) {
  .navbar {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .navbar {
    width: 60%;
    top: 25px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 70%;
    top: 30px;
    padding: 0 12px;
  }

  .name {
    font-size: 13px;
  }

  .loginBtn {
    padding: 5px 12px;
  }
}

@media (max-width: 480px) {
  .navbar {
    width: 70%;
  }

  .name {
    font-size: 12.5px;
  }
}
